<% include partials/_header.ejs %>
    <main>
        <h2>Short URL:
            <a href="/u/<%=shortURL%>">
                /u/<%= shortURL %>
            </a>
        </h2>
        <form action="/urls/<%= shortURL %>?_method=PUT" method="post">
            <input id="editLongURL" type="text" name="editLongURL" value="<%= urls[shortURL]["longURL"] %>" class="col-lg-8">
            <input type="submit" value="Update" class="btn btn-success">
        </form>
        <table class="table">
            <tr>
                <th>Visits <%= urls[shortURL]["visits"].length %></th>
                <th>Unique Visits <%=calculateUniquePageViews(urls[shortURL]["visits"])%></th>
            </tr>
            <tr>
                <th>TimeStamp</th>
                <th>Visitor ID</th>
            </tr>
            <% urls[shortURL]["visits"].forEach(element => { %>
            <tr>
                <td><%= element[0] %></td>
                <td><%= element[1] %></td>
            </tr>
            <% }) %>
        </table>
    </main>
<% include partials/_footer.ejs %>


<% function calculateUniquePageViews(arrayOfVisits) {
    var uniqueVisitorArray = [];
    var count = 0
    arrayOfVisits.forEach(function (element) {
        if (uniqueVisitorArray.includes(element[1])){
            // do nothing
        } else {
            uniqueVisitorArray.push(element[1]);
            count += 1;
        }
    });
    return count;
}%>